<configuration>
	<packageSources>
		<add key="FFXIVVenues" value="https://nuget.pkg.github.com/FFXIVVenues/index.json" protocolVersion="3" />
	</packageSources>
    <packageSourceCredentials>
		<FFXIVVenues>
            <add key="Username" value="kana-ki" />
            <add key="ClearTextPassword" value="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" />
        </FFXIVVenues>
    </packageSourceCredentials>
</configuration>